.card {
	flex: 1 0 0%;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.card-deck {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}
.text-start {
	font-size:x-large
}
.footer{
	background-color: black;

}
*{
	background-color: black;
}
p{
 color:white
}
h1{
	color:white
   }
.dropdown-menu{
	background-color: white!important;
}
.body{
	background-color: black!important;
}
.relleno{
	background-color:black!important;
}